<h1>santosh works!</h1><hr>

<table border="2px">
    <tr>
        <td>
         Name: {{customer.name}} 
        </td>
    </tr>
    <tr>
        <td>
         Age: {{customer.age}} 
        </td>
    </tr>
    <tr>
     <td>
         Truth: {{customer.truth}}
     </td>
 </tr>
 <tr>
     <td>
         Array: {{customer.array}}
     </td>
 </tr>
 <tr>
     <td>
         Id and Name: {{customer.numAndString}}
     </td>
 </tr>
 <tr>
     <td>
         Type any:{{customer.allType}}
     </td>
 </tr>
</table>